    <body>
    <!-- about begins -->
    <section id="page-about" class="page-about">
      <div class="container">
                <header class="section-header">
                    <h2 class="section-title">What We Do</h2>
                    <div class="spacer"></div>
                    <p class="section-subtitle">We offer a wide variety of services from web design and application development to online branding and e-marketing. We can provide the optimal solution to meet your digital needs.</p>
                </header>
          <div class="row">
              <div class="col-md-3 text-center">
                <div class="research hi-icon-effect-1">
                  <i class="hi-icon fa fa-flask"></i>
                </div>
                <header class="process-header">
                  <h3>Research</h3>
                  <p>We analyse your requirements to find the optimal solution.</p>
                </header>
              </div>
             <div class="col-md-3 text-center">
                <div class="design hi-icon-effect-1">
                  <i class="hi-icon fa fa-pencil-square-o"></i>
                </div>
                 <header class="process-header">
                  <h3>Design</h3>
                  <p>We thoroughly plan and design the best approach. </p>
                </header>
               </div>
              <div class="col-md-3 text-center">
              <div class="hi-icon-effect-1 develop">
               <i class="hi-icon fa fa-code"></i>
              </div>
               <header class="process-header">
                  <h3>Develop</h3>
                  <p> We create a product by executing our design.  </p>
                </header>
              </div>
              <div class="col-md-3 text-center">
              <div class="hi-icon-effect-1 deploy">
                <i class="hi-icon fa fa-rocket"></i>
              </div>
               <header class="process-header">
                  <h3>Deploy</h3>
                  <p>We launch only when everything is perfect. </p>
                </header>
              </div>
        
          </div>
      </div> 
    </section><!-- about ends -->

        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.queryloader2.min.js"></script>
        <script src="js/jquery.parallax-1.1.3.js"></script>
        <script src="js/jquery.flexslider.js"></script>
        <script src="js/jquery.scrollTo.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.vegas.min.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.validate.js"></script>
        <script src="js/jquery.countTo.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/main.js"></script>


    </body>