    <body>
       <!-- Rich Snippet Code -->
       <div style = "display:none" itemscope itemtype="http://schema.org/LocalBusiness">
        <a itemprop="url" href="http://www.succinctdesign.co.za/"><div itemprop="name"><strong>Succinct Design</strong></div>
        </a>
        <div itemprop="description">We are a Cape Town based South African startup that offers digital solutions to both businesses and individuals. We offer a wide variety of services from web design and application development to online branding and e-marketing. We can provide the optimal solution to meet your digital needs.</div>
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="addressLocality">Cape Town</span><br>
        <span itemprop="addressCountry">South Africa</span><br>
        <img itemprop="logo" src="SDjustlogo.png" />
        </div>
      </div>

       <!-- about begins -->
    <section id="page-about" class="page-about">
      <div class="container">
                <header class="section-header">
                    <h2 class="section-title">What We Do</h2>
                    <div class="spacer"></div>
                    <p class="section-subtitle">We are a Cape Town based South African startup that offers digital solutions to both businesses and individuals.  We offer a wide variety of services from web design and application development to online branding and e-marketing. We can provide the optimal solution to meet your digital needs.</p>
                    <%= link_to "Take the tour" , tour_path , class: "btn btn-default" %>
                </header>                     
      </div> 
    </section><!-- about ends -->

    <section id="page-about-research" class="page-about">
      <div class="container">
          <div class="row">
              <div class="col-md-3 text-center">
                <div class="research hi-icon-effect-1">
                  <a href="#page-about-research" ><i class="hi-icon fa fa-flask"></i></a>
                </div>
                <header class="process-header">
                </header>
              </div>
              <div class="col-md-9 text-center">
                <header class="process-header">
                  <h3>Research</h3>
                  <p>Clients come to us with a problem or idea. We examine the situation and try to find as much information as possible. Once we have a thorough understanding of the clients needs, we can move forward and design the best solution.</p>
                </header>
          </div>
      </div>
    </section><!-- about ends -->

        <section id="page-about-design" class="page-about">
      <div class="container">
          <div class="row">
              <div class="col-md-3 text-center">
                <div class="design hi-icon-effect-1">
                  <a href="#page-about-design" ><i class="hi-icon fa fa-pencil-square-o"></i></a>
                </div>
                <header class="process-header">
                </header>
              </div>
              <div class="col-md-9 text-center">
                <header class="process-header">
                  <h3>Design</h3>
                  <p>Once we have direction, we start on our design. By carefully planning and designing the best approach before development, we can save a tremendous amount of both time and effort. This not only makes our job easier but also saves the client costs. </p>
                </header>
          </div>
      </div>
    </section><!-- about ends -->

    <section id="page-about-development" class="page-about">
      <div class="container">
          <div class="row">
              <div class="col-md-3 text-center">
                <div class="research hi-icon-effect-1">
                  <a href="#page-about-development" ><i class="hi-icon fa fa-code"></i></a>
                </div>
                <header class="process-header">
                </header>
              </div>
              <div class="col-md-9 text-center">
                <header class="process-header">
                  <h3>Develop</h3>
                  <p>Using the latest tools, technology and programming languages we can execute our design to develop an amazing product. HTML5, Ruby on Rails, Java, Python, Objective C, Microsoft.Net or any other language that best suits your requirements. </p>
                </header>
          </div>
      </div>
    </section><!-- about ends -->

        <section id="page-about-deploy" class="page-about">
      <div class="container">
          <div class="row">
              <div class="col-md-3 text-center">
                <div class="research hi-icon-effect-1">
                  <a href="#page-about-deploy" ><i class="hi-icon fa fa-rocket"></i></a>
                </div>
                <header class="process-header">
                </header>
              </div>
              <div class="col-md-9 text-center">
                <header class="process-header">
                  <h3>Deploy</h3>
                  <p>Only once the client is 100% satisfied and the product is perfect, do we launch. But it doesn't stop there. We can also help with getting your product noticed with social media and online marketing campaigns.</p>
                </header>
          </div>
      </div>
    </section><!-- about ends -->


        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.queryloader2.min.js"></script>
        <script src="js/jquery.scrollTo.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/main.js"></script>


    </body>