    <body>
 
    <div id="footer">
      <div class="container">
        <p></p>
          <p class="split-para">
          © 2013. Succinct Design PTY. South Africa.
          <span>
          Follow: <a href="http://twitter.com/succinctdesign" target="_blank"> <i class="fa fa-twitter"></i> </a>
          Like: <a href="http://facebook.com/succinctdesign" target="_blank"> <i class="fa fa-facebook"></i> </a>
          Link: <a href="http://za.linkedin.com/in/succinctdesign/" target="_blank"> <i class="fa fa-linkedin"></i> </a>
          </span>
        </p>
      </div>
    </div>

    </body>

