
    <body>
            <!-- pricing begins -->
    <section id="page-pricing" class="page-pricing">
      <div class="container">
                <header class="section-header">
                    <h2 class="section-title">Pricing</h2>
                    <div class="spacer"></div>
                    <p class="section-subtitle">Some of our packages available. </p>
                </header>

        <div class="row">
          
          <div id="pricePlans">
            
            <div class="col-md-3">
            <ul id="plan1">
              <li class="plan">
                <ul class="planContainer">
                  <li class="title"><h2>Basic Site</h2></li>
                  <li class="price"><p>R3999</p></li>
                  <li>
                    <ul class="options">
                      <li>4 Pages</li>
                      <li>Responsive Design</li>
                      <li>Mobile Version</li>
                      <li>5 <span>Databases</span></li>
                      <li>3 <span>Subdomains</span></li>
                    </ul>
                  </li>
                  <li class="button"><a href="#page-contact">Enquire Now</a></li>
                </ul>
              </li>
              </ul> <!-- End ul#plans -->
            </div>

              <div class="col-md-3">
              <ul id="plan2">
              <li class="plan">
                <ul class="planContainer">
                  <li class="title"><h2 class="bestPlanTitle">Plan 2</h2></li>
                  <li class="price"><p class="bestPlanPrice">$20/month</p></li>
                  <li>
                    <ul class="options">
                      <li>3GB <span>Disk Storage</span></li>
                      <li>10GB <span>Bandwidth</span></li>
                      <li>10 <span>E-Mail Accounts</span></li>
                      <li>10 <span>Databases</span></li>
                      <li>6 <span>Subdomains</span></li>
                    </ul>
                  </li>
                  <li class="button"><a class="bestPlanButton" href="#">Purchase</a></li>
                </ul>
              </li>
              </ul> <!-- End ul#plans -->
            </div>

              <div class="col-md-3">
                <ul id="plan3">
              <li class="plan">
                <ul class="planContainer">
                  <li class="title"><h2>Plan 3</h2></li>
                  <li class="price"><p>$10/month</p></li>
                  <li>
                    <ul class="options">
                     <li>5GB <span>Disk Storage</span></li>
                      <li>20GB <span>Bandwidth</span></li>
                      <li>20 <span>E-Mail Accounts</span></li>
                      <li>20 <span>Databases</span></li>
                      <li>10 <span>Subdomains</span></li>
                    </ul>
                  </li>
                  <li class="button"><a href="#">Purchase</a></li>
                </ul>
              </li>
              </ul> <!-- End ul#plans -->
             </div>

               <div class="col-md-3">
              <ul id="plan4">
              <li class="plan">
                <ul class="planContainer">
                  <li class="title"><h2>Plan 4</h2></li>
                  <li class="price"><p>$10/month</p></li>
                  <li>
                    <ul class="options">
                      <li>10GB <span>Disk Storage</span></li>
                      <li>40GB <span>Bandwidth</span></li>
                      <li>100 <span>E-Mail Accounts</span></li>
                      <li>50 <span>Databases</span></li>
                      <li>20 <span>Subdomains</span></li>
                    </ul>
                  </li>
                  <li class="button"><a href="#">Purchase</a></li>
                </ul>
              </li>
              </ul> <!-- End ul#plans -->
          </div>

          </div>
        </div>
 
      </div> 
    </section><!-- pricing ends -->        


        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.queryloader2.min.js"></script>
        <script src="js/jquery.scrollTo.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/main.js"></script>


    </body>