
    <body>
                <!-- pricing begins -->
    <section id="page-pricing" class="page-pricing">
      <div class="container">
                <header class="section-header">
                    <h2 class="section-title">Pricing</h2>
                    <div class="spacer"></div>
                    <p class="section-subtitle">Some of our packages available. </p>
                </header>

        <div class="row">
          
          <div id="pricePlans">
            
            <div class="col-md-3">
            <ul id="plan1">
              <li class="plan">
                <ul class="planContainer">
                  <li class="title"><h2>Simple Site</h2></li>
                  <li class="price"><p>R3999+</p></li>
                  <li>
                    <ul class="options">
                      <li>Up to 4 Pages</li>
                      <li>Responsive Design</li>
                      <li>Mobile Version</li>
                      <li>Basic SEO</li>
                      <li>Basic Customization</li>
                    </ul>
                  </li>
                  <li class="button"><a href="/contact">Enquire Now</a></li>
                </ul>
              </li>
              </ul> <!-- End ul#plans -->
            </div>

              <div class="col-md-3">
              <ul id="plan2">
              <li class="plan">
                <ul class="planContainer">
                  <li class="title"><h2 class="bestPlanTitle">Full Site</h2></li>
                  <li class="price"><p class="bestPlanPrice">R9999+</p></li>
                  <li>
                    <ul class="options">
                      <li>Up to 20 Pages</li>
                      <li>Responsive Design</li>
                      <li>Mobile Version</li>
                      <li>Tailored SEO</li>
                      <li>Complete Customization</li>
                    </ul>
                  </li>
                  <li class="button"><a class="bestPlanButton" href="/contact">Enquire Now</a></li>
                </ul>
              </li>
              </ul> <!-- End ul#plans -->
            </div>

              <div class="col-md-3">
                <ul id="plan3">
              <li class="plan">
                <ul class="planContainer">
                  <li class="title"><h2>Web App</h2></li>
                  <li class="price"><p>R12000+</p></li>
                  <li>
                    <ul class="options">
                     <li>Cloud Based</li>
                      <li>Multi-Device</li>
                      <li>Scalable</li>
                      <li>Rapid Development</li>
                      <li>24 Hour Support</li>
                    </ul>
                  </li>
                  <li class="button"><a href="/contact">Enquire Now</a></li>
                </ul>
              </li>
              </ul> <!-- End ul#plans -->
             </div>

               <div class="col-md-3">
              <ul id="plan4">
              <li class="plan">
                <ul class="planContainer">
                  <li class="title"><h2>SEO</h2></li>
                  <li class="price"><p>TBA*</p></li>
                  <li>
                    <ul class="options">
                      <li>Website Audit</li>
                      <li>Optimization</li>
                      <li>Increased Visibility</li>
                      <li>Increased traffic</li>
                      <li>Increased Pagerank</li>
                    </ul>
                  </li>
                  <li class="button"><a href="/contact">Purchase</a></li>
                </ul>
              </li>
              </ul> <!-- End ul#plans -->
          </div>

          </div>
        </div>
 
      </div> 
    </section><!-- pricing ends -->              


        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.queryloader2.min.js"></script>
        <script src="js/jquery.scrollTo.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/main.js"></script>


    </body>