    <body>
<!-- about begins -->
    <section id="page-about" class="page-services">
      <div class="container">
                <header class="section-header">
                    <h2 class="section-title">Services</h2>
                    <div class="spacer"></div>
                    <p class="section-subtitle">We offer a wide variety of services from web design and application development to online branding and e-marketing. We can provide the optimal solution to meet your digital needs.</p>
                </header>
          <div class="row">
              <div class="col-md-3 text-center">
                <div class="research hi-icon-effect-1">
                  <a href="#" ><i class="hi-icon fa fa-globe"></i></a>
                </div>
                <header class="process-header">
                  <h3>Web Design</h3>
                  <p>We design and build websites to suit any purpose.</p>
                </header>
              </div>
             <div class="col-md-3 text-center">
                <div class="design hi-icon-effect-1">
                  <a href="#" ><i class="hi-icon fa fa-pencil-square-o"></i></a>
                </div>
                 <header class="process-header">
                  <h3>Graphic Design</h3>
                  <p>Graphic design for logos, banners, brochures and more.</p>
                </header>
               </div>
              <div class="col-md-3 text-center">
              <div class="hi-icon-effect-1 develop">
               <a href="#" ><i class="hi-icon fa fa-arrows-alt"></i></a>
              </div>
               <header class="process-header">
                  <h3>Wireframing</h3>
                  <p>Visual blueprint/mockups for websites and applications.</p>
                </header>
              </div>
              <div class="col-md-3 text-center">
              <div class="hi-icon-effect-1 deploy">
                <a href="#" ><i class="hi-icon fa fa-film"></i></a>
              </div>
               <header class="process-header">
                  <h3>Video Editing</h3>
                  <p>Video editing for online ads or web series to promote your brand.</p>
                </header>
              </div>
        
          </div>

           <div class="row">
              <div class="col-md-3 text-center">
                <div class="research hi-icon-effect-1">
                  <a href="#" ><i class="hi-icon fa fa-cogs"></i></a>
                </div>
                <header class="process-header">
                  <h3>Web Maintaince & Support</h3>
                  <p>Website maintaince, support and management.</p>
                </header>
              </div>
              <div class="col-md-3 text-center">
                <div class="research hi-icon-effect-1">
                  <a href="#" ><i class="hi-icon fa fa-desktop"></i></a>
                </div>
                <header class="process-header">
                  <h3>Web App Development</h3>
                  <p>Application Development for browsers.</p>
                </header>
              </div>
              <div class="col-md-3 text-center">
              <div class="hi-icon-effect-1 develop">
               <a href="#" ><i class="hi-icon fa fa-apple"></i></a>
              </div>
               <header class="process-header">
                  <h3>iOS App Development</h3>
                  <p>Application Development for Apple iOS.</p>
                </header>
              </div>
              <div class="col-md-3 text-center">
              <div class="hi-icon-effect-1 deploy">
                <a href="#" ><i class="hi-icon fa fa-android"></i></a>
              </div>
               <header class="process-header">
                  <h3>Android App Development</h3>
                  <p>Application Development for Google Android.</p>
                </header>
              </div>
        
          </div>

                     <div class="row">
              <div class="col-md-3 text-center">
                <div class="research hi-icon-effect-1">
                  <a href="#" ><i class="hi-icon fa fa-bar-chart-o"></i></a>
                </div>
                <header class="process-header">
                  <h3>Analytics</h3>
                  <p>Analytics of your online presence.</p>
                </header>
              </div>
              <div class="col-md-3 text-center">
                <div class="research hi-icon-effect-1">
                  <a href="#" ><i class="hi-icon fa fa-search"></i></a>
                </div>
                <header class="process-header">
                  <h3>SEO</h3>
                  <p>Search Engine Optimization for search engines.</p>
                </header>
              </div>
              <div class="col-md-3 text-center">
              <div class="hi-icon-effect-1 develop">
               <a href="#" ><i class="hi-icon fa fa-list-alt"></i></a>
              </div>
               <header class="process-header">
                  <h3>Google Adwords</h3>
                  <p> Adwords campaign management.</p>
                </header>
              </div>
              <div class="col-md-3 text-center">
              <div class="hi-icon-effect-1 deploy">
                <a href="#" ><i class="hi-icon fa fa-users"></i></a>
              </div>
               <header class="process-header">
                  <h3>Social Media</h3>
                  <p>Social media marketing and management.</p>
                </header>
              </div>
        
          </div>
      </div> 
    </section><!-- about ends -->

        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.queryloader2.min.js"></script>
        <script src="js/jquery.scrollTo.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/main.js"></script>


    </body>