
    <body>
    <!-- welcome begins -->
    <section id="page-welcome" class="page-welcome">
      <div>
          <ul class="slider-controls">
              <li><a id="vegas-next" class="next" href="##"></a></li>
              <li><a id="vegas-prev" class="prev" href="##"></a></li>
          </ul>
        </div>
        <div class="container">
            <div class="row">
                  <!-- Text Slider -->
                    <div class="flexslider">
                      <ul class="home-slides">

                        <li><span>Simple</span></li>
                        <li><span>Elegant</span></li>
                        <li><span>Succinct</span></li>
                      </ul>
                    </div>
                                            <img src="SDjustlogo2.png">
                     <p class="intro-text">Succinct Design - Digital Solutions</p>
                      <!-- End Text Slides -->
                <a href="#page-about" class="btn btn-default learn-more"><span data-hover="Sart Tour">Start Tour</span></a>
                <%= link_to "Main Site" , root_path , class: "btn btn-default" %>
            </div>
        </div>
    </section><!-- welcome ends -->
    <!-- Nav starts -->
     <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
             <a href="/" class="brand"><img src="SDLOGOwhitesmall.png" alt="Succinct Design" title="Jump to the front page"></a>

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav nav-effect" id="main-menu">
            <li><a href="#page-welcome"><span data-hover="Home">Home</span></a></li>
            <li><a href="#page-about"><span data-hover="About">About</span></a></li>
            <li><a href="#page-services"><span data-hover="Services">Services</span></a></li>
            <li><a href="#page-portfolio-controls"><span data-hover="Portfolio">Portfolio</span></a></li>
            <li><a href="#page-pricing"><span data-hover="Pricing">Pricing</span></a></li>
            <li><a href="#page-team"><span data-hover="Team">Team</span></a></li>
            <li><a href="#page-contact"><span data-hover="Contact">Contact</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div><!-- Nav ends -->
    <!-- about begins -->
    <section id="page-about" class="page-about">
      <div class="container">
                <header class="section-header">
                    <h2 class="section-title">What We Do</h2>
                    <div class="spacer"></div>
                    <p class="section-subtitle">We offer a wide variety of services from web design and application development to online branding and e-marketing. We can provide the optimal solution to meet your digital needs.</p>
                </header>
          <div class="row">
              <div class="col-md-3 text-center">
                <div class="research hi-icon-effect-1">
                  <a href="/" ><i class="hi-icon fa fa-flask"></i></a>
                </div>
                <header class="process-header">
                  <h3>Research</h3>
                  <p>We analyse your requirements to find the optimal solution.</p>
                </header>
              </div>
             <div class="col-md-3 text-center">
                <div class="design hi-icon-effect-1">
                  <a href="/" ><i class="hi-icon fa fa-pencil-square-o"></i></a>
                </div>
                 <header class="process-header">
                  <h3>Design</h3>
                  <p>We thoroughly plan and design the best approach. </p>
                </header>
               </div>
              <div class="col-md-3 text-center">
              <div class="hi-icon-effect-1 develop">
               <a href="/" ><i class="hi-icon fa fa-code"></i></a>
              </div>
               <header class="process-header">
                  <h3>Develop</h3>
                  <p> We create a product by executing our design.  </p>
                </header>
              </div>
              <div class="col-md-3 text-center">
              <div class="hi-icon-effect-1 deploy">
                <a href="/" ><i class="hi-icon fa fa-rocket"></i></a>
              </div>
               <header class="process-header">
                  <h3>Deploy</h3>
                  <p>We launch only when everything is perfect. </p>
                </header>
              </div>
        
          </div>
      </div> 
    </section><!-- about ends -->
    <!-- highlight section begins -->
          <section class="highlight"> 
          <div class="container"> 
               <header class="section-header">
                    <h2>Some interesting facts about our company.</h2>

                    <p class="section-subtitle"> "Succinct - səˈsɪŋ(k)t" - Briefly and clearly expressed.</p>
                </header>
          <div class="row">
              <div class="col-md-3">
                <div class="count">
                <div class="counter" data-from="0" data-to="9001"></div>
                <h3>Hours coding</h3>
                </div>
              </div>
              <div class="col-md-3">
                 <div class="count">
                <div class="counter" data-from="0" data-to="2013"></div>
                <h3>Year Established</h3>
                </div>
              </div>
              <div class="col-md-3">
                 <div class="count">
                <div class="counter" data-from="0" data-to="13"></div>
                <h3>Completed Projects</h3>
                </div>
              </div>
              <div class="col-md-3">
                 <div class="count">
                <div class="counter" data-from="0" data-to="42"></div>
                <h3>Happy Clients</h3>
                </div>
              </div>
            </div>
          </div>
          </section><!-- highlight section ends -->


       <!-- services begins -->
     <section id="page-services" class="page-services">
       <div class="container">
                 <header class="section-header">
                    <h2 class="section-title"><span>our services</span></h2>
                      <div class="spacer"></div>
                    <p class="section-subtitle">The main services we offer. </p>
                </header>
            <a href="/services">    
            <div class="row">
            </div>
               <div class="col-md-4 ">
                <div class="service-block">
                  <div class="service-icon">
                     <i class="fa fa-desktop"></i>
                    </div>
                    <h3>Design</h3>
                     <p>Design solutions for every need</p>
                     <ul>
                      <li><i class="fa fa-globe"></i>  Web Design</li>
                      <li><i class="fa fa-picture-o"></i>  Graphic Design</li>
                      <li><i class="fa fa-arrows-alt"></i>  Wireframing</li>
                    </ul>
               </div>
            </div>
               <div class="col-md-4">
              <div class="service-block">
                <div class="service-icon">
                      <i class="fa fa-cog"></i>
                    </div>
                    <h3>Development</h3>
                     <p>Application development for multiple platforms.</p>
                     <ul>
                      <li><i class="fa fa-globe"></i>  Web</li>
                      <li><i class="fa fa-android"></i>  Android</li>
                      <li><i class="fa fa-apple"></i>  iOS</li>
                    </ul>
               </div>
            </div>
               <div class="col-md-4">
                <div class="service-block">
                 <div class="service-icon">
                     <i class="fa fa-bar-chart-o"></i>
                    </div>
                    <h3>E-Marketing</h3>
                     <p>Get your business noticed with online marketing</p>
                     <ul>
                      <li><i class="fa fa-users"></i>  Social Media</li>
                      <li><i class="fa fa-tasks"></i>  Google Adwords</li>
                      <li><i class="fa fa-search"></i>  Search Engine Optimization</li>
                    </ul> 
               </div>
            </div>
          </a>
          </div>
        </div>
    </section><!-- services ends -->
<!-- portfolio controls begins -->
     <section id="page-portfolio-controls" class="page-portfolio-controls">
          <div class="container">
            
                <header class="section-header">
                    <h2 class="section-title"><span>Portfolio</span></h2>
                      <div class="spacer"></div>
                    <p class="section-subtitle">Projects completed and current.</p>
                </header>
           
                <div id="grid-controls-wrapper">
                <ul class="nav nav-pills center-pills grid-controls">
                  <li class="active filter"><a href="javascript:void(0)" data-filter="*">All</a></li> 
                  <li class="filter" ><a href="javascript:void(0)" data-filter=".sort-design">Design</a></li>
                  <li class="filter" ><a href="javascript:void(0)" data-filter=".sort-web">Website</a></li>
                  <li class="filter"><a href="javascript:void(0)"  data-filter=".sort-dev">Application Development</a></li>
                  <li class="filter" ><a href="javascript:void(0)" data-filter=".sort-branding">E-Marteting</a></li>             
                  <li class="filter" ><a href="javascript:void(0)" data-filter=".sort-current">Current</a></li>
                </ul>
              </div>
            </div>
            </section><!-- portfolio controls ends --> 
                
            <!-- portfolio begins -->
            <section id="page-portfolio" class="page-portfolio">
                  <ul id="grid" class="grid-wrapper">
                      <li class="mix sort-web" >
                       <a href="http://redpetal.co.za/"><div class="overlay"><span>Red Petal Productions</span><i class="fa fa-search"></i></div><img src="img/portfolio/small/redpetal_portfolio.png" alt=" Website Design for Cape Town company Red Petal Productions" ></a> </li>
                      <li class="mix sort-branding sort-web sort-design">
                        <a href="http://catherinetimotei.com/"><div class="overlay"><span>Catherine Timotei</span><i class="fa fa-search"></i></div><img src="img/portfolio/small/catherinetimotei_portfolio.png" alt="Website Design for French Artist living in South Africa, Catherine Timotei." ></a></li>
                      <li class="mix sort-dev sort-current">
                        <a href="#"><div class="overlay"><span>Student Investor</span><i class="fa fa-search"></i></div><img src="img/portfolio/small/studentinvestor_portfolio.png" alt="Application Development for Student Investor. Wireframing, planning and design."></a></li>
                      <li class="mix sort-web sort-branding sort-design">
                        <a href="http://bigbanana.co.za/"><div class="overlay"><span>Big Banana Films</span><i class="fa fa-search"></i></div><img src="img/portfolio/small/bigbananafilms_portfolio.png" alt="Website Design, Logo Design, e-marketing and social media management, SEO for Big Banana Films."></a></li>
                      <li class="mix sort-design">
                        <a href="#"><div class="overlay"><span>Sidewinder Films</span><i class="fa fa-search"></i></div><img src="img/portfolio/small/sidewinderfilms_portfolio.png" alt=""></a></li>
                      <li class="mix sort-web sort-branding">
                        <a href="http://elinor.co.za/"><div class="overlay"><span>Elinor's Art</span><i class="fa fa-search"></i></div><img src="img/portfolio/small/elinorfletcher_portfolio.png" alt="Elinor is a Cape Town Artist who needed a website designed to showcase her artwork. She also needed other technical support and website maintainence."></a></li>
                  </ul>
    </section><!-- portfolio ends -->
     <!-- parallax connect feed begins -->
            <section id="parallax-connect" class="parallax">
                <div class="parallax-background2 parallax-background"></div><!-- parallax bg image -->
                <div class="overlay"></div>
                <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                        <div class="parallax-content">
                            <header class="section-header">
                                <h2 class="section-title"><span>Get Connected</span></h2>
                                  <div class="spacer"></div>
                                    <p class="section-subtitle">Follow, Like, Link </p>
                            </header>
                           <div class="social-icons">
                            <a href="https://twitter.com/SuccinctDesign" target="_blank" class="btn btn-round btn-clear btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/SuccinctDesign" target="_blank" class="btn btn-round btn-clear btn-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="https://za.linkedin.com/in/succinctdesign/" target="_blank" class="btn btn-round btn-clear btn-linkedin"><i class="fa fa-linkedin-square"></i></a>           
                        </div>
                        </div>
                      </div>
                  </div>
                </div>
            </section><!-- parallax connect feed ends -->

            <!-- pricing begins -->
    <section id="page-pricing" class="page-pricing">
      <div class="container">
                <header class="section-header">
                    <h2 class="section-title">Pricing</h2>
                    <div class="spacer"></div>
                    <p class="section-subtitle">Some of our packages available. </p>
                </header>

        <div class="row">
          
          <div id="pricePlans">
            
            <div class="col-md-3">
            <ul id="plan1">
              <li class="plan">
                <ul class="planContainer">
                  <li class="title"><h2>Simple Site</h2></li>
                  <li class="price"><p>R3999+</p></li>
                  <li>
                    <ul class="options">
                      <li>Up to 4 Pages</li>
                      <li>Responsive Design</li>
                      <li>Mobile Version</li>
                      <li>Basic SEO</li>
                      <li>Basic Customization</li>
                    </ul>
                  </li>
                  <li class="button"><a href="#page-contact">Enquire Now</a></li>
                </ul>
              </li>
              </ul> <!-- End ul#plans -->
            </div>

              <div class="col-md-3">
              <ul id="plan2">
              <li class="plan">
                <ul class="planContainer">
                  <li class="title"><h2 class="bestPlanTitle">Full Site</h2></li>
                  <li class="price"><p class="bestPlanPrice">R9999+</p></li>
                  <li>
                    <ul class="options">
                      <li>Up to 20 Pages</li>
                      <li>Responsive Design</li>
                      <li>Mobile Version</li>
                      <li>Tailored SEO</li>
                      <li>Complete Customization</li>
                    </ul>
                  </li>
                  <li class="button"><a class="bestPlanButton" href="#page-contact">Enquire Now</a></li>
                </ul>
              </li>
              </ul> <!-- End ul#plans -->
            </div>

              <div class="col-md-3">
                <ul id="plan3">
              <li class="plan">
                <ul class="planContainer">
                  <li class="title"><h2>Web App</h2></li>
                  <li class="price"><p>R12000+</p></li>
                  <li>
                    <ul class="options">
                     <li>Cloud Based</li>
                      <li>Multi-Device</li>
                      <li>Scalable</li>
                      <li>Rapid Development</li>
                      <li>24 Hour Support</li>
                    </ul>
                  </li>
                  <li class="button"><a href="#page-contact">Enquire Now</a></li>
                </ul>
              </li>
              </ul> <!-- End ul#plans -->
             </div>

               <div class="col-md-3">
              <ul id="plan4">
              <li class="plan">
                <ul class="planContainer">
                  <li class="title"><h2>SEO</h2></li>
                  <li class="price"><p>TBA*</p></li>
                  <li>
                    <ul class="options">
                      <li>Website Audit</li>
                      <li>Optimization</li>
                      <li>Increased Visibility</li>
                      <li>Increased traffic</li>
                      <li>Increased Pagerank</li>
                    </ul>
                  </li>
                  <li class="button"><a href="#">Enquire Now</a></li>
                </ul>
              </li>
              </ul> <!-- End ul#plans -->
          </div>

          </div>
        </div>
 
      </div> 
    </section><!-- pricing ends -->        
    <!-- team begins -->
     <section id="page-team" class="page-team">
       <div class="container">
                <header class="section-header">
                    <h2 class="section-title"><span>Our Team</span></h2>
                     <div class="spacer"></div>
                    <p class="section-subtitle">Meet our team of talented individuals.</p>
                </header>
                <div class="row"> 
                 <div class="col-md-3">
                    <div class="team-block">
                     <div class="photo"><img src="img/team/FelixNorton.gif" alt="Felix Norton, founder of Succinct Design, website designer and apllication developer living in Cape Town, South Africa"></div>
                      <div class="name-team">Felix Norton</div>
                       <div class="team-title">Founder & Developer</div>
                      <div class="team-footer">
                        <div class="follow">
                          <h3>Follow <i class="fa fa-plus-circle"></i></h3>
                       </div>
                        <div class="team-social-icons">
                          <a href="http://twitter.com/succinctdesign" target="_blank" class="btn btn-round btn-clear btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="http://www.facebook.com/felixwnorton" target="_blank" class="btn btn-round btn-clear btn-facebook"><i class="fa fa-facebook"></i></a>
                         <a href="za.linkedin.com/in/felixwnorton/" target="_blank" class="btn btn-round btn-clear btn-linkedin"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                       </div>
                     
                    
                   </div>
                </div>
             
                <div class="col-md-3">
                     <div class="team-block">
                      <div class="photo"><img src="img/team/willfrancis.gif" alt="William Francis, Systems Developer and consultant at Succinct Design"></div>
                      <div class="name-team">William Francis</div>
                      <div class="team-title">Consulting Developer</div>
                        <div class="team-footer">
                        <div class="follow">
                          <h3>Follow <i class="fa fa-plus-circle"></i></h3>
                       </div>
                        <div class="team-social-icons">
                        <a href="http://www.facebook.com/francisw1990" target="_blank"  class="btn btn-round btn-clear btn-facebook"><i class="fa fa-facebook"></i></a>
                        </div>
                       </div>
                   </div>
                </div>
                <div class="col-md-3">
                       <div class="team-block">
                      <div class="photo"><img src="img/team/Andre.gif" alt="Andre Ogle, Honours graduate from UCT in Information Systems is a programmer and developer at Succinct Design"></div>
                      <div class="name-team">Andre Ogle</div>
                       <div class="team-title">Developer</div>
                        <div class="team-footer">
                        <div class="follow">
                          <h3>Follow <i class="fa fa-plus-circle"></i></h3>
                       </div>
                        <div class="team-social-icons">
                        <a href="http://www.facebook.com/ogleandre" target="_blank"  class="btn btn-round btn-clear btn-facebook"><i class="fa fa-facebook"></i></a>
                         <a href="http://za.linkedin.com/pub/andre-ogle/56/516/1b3" target="_blank"  class="btn btn-round btn-clear btn-linkedin"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                       </div>
                   </div>
                </div>
                <div class="col-md-3">
                       <div class="team-block">
                      <div class="photo"><img src="img/team/simon-miller.gif" alt="Simon Miller, video editor and graphic artist at Succinct Design."></div>
                      <div class="name-team">Simon Miller</div>
                     <div class="team-title">Video/Graphic Artist</div>
                        <div class="team-footer">
                        <div class="follow">
                          <h3>Follow <i class="fa fa-plus-circle"></i></h3>
                       </div>
                        <div class="team-social-icons">
                          <a href="http://twitter.com/" class="btn btn-round btn-clear btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="http://www.facebook.com/" class="btn btn-round btn-clear btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="http://www.dribbble.com/" class="btn btn-round btn-clear btn-dribbble"><i class="fa fa-dribbble"></i></a>
                         <a href="http://www.linkedin.com/" class="btn btn-round btn-clear btn-linkedin"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </section><!-- team ends -->

    <!-- contact begins -->
     <section id="page-contact" class="page-contact">

          <div class="container">
              <header class="section-header">
                  <h2 class="section-title"><span>Contact</span></h2>
                    <div class="spacer"></div>
                       <p class="section-subtitle">Feel free to contact us with any enquiry.</p>
              </header>
        <div class="row">
          <div class="col-sm-5 contact-info">
            <h3>Contact Info</h3>
            <p><i class="fa fa-map-marker"></i> Cape Town, South Africa</p>
            <p><i class="fa fa-phone"></i> 072 62 34 617 </p>
            <p><i class="fa fa-envelope-o"></i> info@succinctdesign.co.za</p>
          </div>
          
          <div class="col-sm-7">
          <h3>Get in Touch</h3>
       <form  cMETHOD=POST ACTION="mailto:info@succinctdesign.co.za" ENCTYPE="text/plain">
        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input type="text" name="name" id="name" placeholder="Your name" class="form-control input-lg ">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email">Email Address</label>
            <div class="controls">
                <input type="text" name="email" id="email" placeholder="Your email address" class="form-control input-lg">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="message">Message</label>
            <div class="controls">
                <textarea name="message" id="message" rows="8" class="form-control input-lg"></textarea>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-default btn-lg btn-block">Submit Message</button>
        </div>
    </form><!-- End contact-form -->
          </div>
        </div><!-- End row -->

        </div>
    </section> <!-- contact ends -->


        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.queryloader2.min.js"></script>
        <script src="js/jquery.parallax-1.1.3.js"></script>
        <script src="js/jquery.flexslider.js"></script>
        <script src="js/jquery.scrollTo.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.vegas.min.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.validate.js"></script>
        <script src="js/jquery.countTo.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/main.js"></script>


    </body>